{% extends "base.html" %}

{% block title %}Edit Activity{% endblock %}

{% block content %}
<div class="content">
    <h2>Editar Atividade</h2>
    <form method="POST" action="{{ url_for('activity.edit_activity', id=activity.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <label>Nome:</label>
        <input type="text" name="name" value="{{ activity.name }}" required><br>

        <label>Descrição:</label>
        <textarea name="description">{{ activity.description }}</textarea><br>

        <label>Data:</label>
        <input type="date" name="date" value="{{ activity.date }}" required><br>


        <label>Hora de Início:</label>
        <input type="time" name="start_time" value="{{ activity.start_time }}"><br>

        <label>Hora de Término:</label>
        <input type="time" name="end_time" value="{{ activity.end_time }}"><br>

        <label>Concluído:</label>
        <input type="checkbox" name="done" {% if activity.done %}checked{% endif %}><br>

        <label>Categoria:</label>
        <select name="category_id">
            {% for category in categories %}
                <option value="{{ category.id }}" {% if category.id == activity.category_id %}selected{% endif %}>
                    {{ category.name }}
                </option>
            {% endfor %}
        </select><br>

        <button type="submit">Salvar</button>
    </form>

</div>
{% endblock %}